/* imports */

/*
@font-face {
  font-family: 'Material';
  src: url('../fonts/material.eot?#iefix') format('embedded-opentype'),
    url('../fonts/material.woff') format('woff'),
    url('../fonts/material.ttf') format('truetype'),
    url('../fonts/material.svg#material') format('svg');
}
*/

/* global */

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #666666;
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

a {
  color: #800000;
  transition: all 0.3s ease;
}

a:hover,
a:focus,
a:active {
  color: #f7a900;
  text-decoration: none;
}

p {
  margin: 0 0 15px;
}

h1,
h2,
h3,
h4 {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

body>header {
  position: fixed;
  width: 100%;
  background: #fff;
  letter-spacing: 1px;
  z-index: 1;
}

img {
  width: 100%;
}

hr.rule {
  border-top: 4px solid #ffb400;
  width: 60px;
  margin-bottom: 60px;
}

#main-content {
  margin-top: 225px;
}

@media (min-width: 768px) {
  #main-content {
    margin-top: 180px;
  }
}

/* navigation */

.navbar-brand {
  float: none;
  height: auto;
  padding: 10px 10px 0 10px;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar-brand {
    float: left;
    padding: 10px 10px;
  }
}

.navbar-brand img {
  width: 100%;
  max-width: 60px;
  margin: 0 auto;
  display: block;
}

@media (min-width: 768px) {
  .navbar-brand img {
    max-width: 75px;
  }
}

.navbar-name {
  padding: 0 10px 10px 10px;
}

.navbar-name img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  padding-top: 0;
}

@media (min-width: 768px) {
  .navbar-name img {
    float: left;
    padding-top: 20px;
  }
}

.navbar-tel {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 0 5px 0;
  background-color: #800000;
}

.navbar-tel a {
  color: #fff;
}

.navbar-tel a:hover,
.navbar-tel a:focus,
.navbar-tel a:active {
  color: #f7a900;
}

.nav-tel-set {
  margin: 0 auto;
  max-width: 250px;
}

span.tel-icon:before {
  content: "\f098";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .navbar-tel {
    background-color: transparent;
  }

  .navbar-tel a {
    color: #800000;
  }

  span.tel-icon:before {
    color: #800000;
  }
}

@media (min-width: 992px) {
  .navbar-tel {
    padding: 15px 0 0 5%;
  }
}

.navbar-tel p {
  margin: 0 0 5px;
}

.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.navigation-col {
  background-color: #fff;
}

.navbar {
  background-color: #ffffff;
  margin-bottom: 0;
  border: none;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-nav li {
  border-top: 1px solid #ccc;
}

.navbar-toggle {
  background: #800000;
}

@media screen and (min-width: 768px) {

  .navbar-nav li {
    border: none;
  }

  .navigation-menu {
    background-color: #800000;
    border-bottom: 4px solid #ffb400;
  }

  .navbar-nav>li>a {
    color: #fff;
    padding: 15px 25px;
  }


  .navbar-nav li:last-child a {
    border-right: 0 none;
  }

  li.active a {
    color: #feb500;
  }
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav>li>a:active,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background-color: #ffb400;
  color: #800000;
}

.dropdown-menu {

  background-color: #ffb400;
  color: #800000;
  border: none;
  border-radius: 4px;
  box-shadow: none;
}

.dropdown-menu>li>a {
  color: #800000;
  padding: 15px 25px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgb(230, 161, 0);
}

/* hero slider */

.slider img {
  width: 100%;
}

.slider {
  margin-bottom: 20px;
}

/* main content */

.featured {
  padding: 0;
  overflow: hidden;
  margin-bottom: 25px;
}

.featured img {
  width: 100%;
  transition: all 0.5s;
}

.featured img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.featured a {
  color: #feb402;
}

.featured h2 {
  font-size: 36px;
}

.info {
  margin-bottom: 25px;
}

.info h2 {
  font-size: 18px;
}

.info .caption {
  width: 92%;
}

@media (min-width: 455px) {

  .info .caption {
    width: 94%;
  }
}

@media (min-width: 892px) {
  .info .caption {
    width: 533px;
  }
}

@media (min-width: 1079px) {
  .info .caption {
    width: 334px;
  }

  .info h2 {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .info .caption {
    width: 409px;
  }

  .info h2 {
    font-size: 22px;
  }
}

.caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding: 15px;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .72) 46%, rgba(0, 0, 0, .72) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(184, 0, 0, 0)', GradientType=0);
  /* IE6-9 */
}

.zoom-bg {

  overflow: hidden;
}

.zoom-bg img {
  width: 100%;
  transition: all 0.5s;
}

.zoom-bg img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.info-title {
  background-color: #efefef;
  margin-bottom: 20px;
}

.info-title:after {
  content: url("../img/1.png");
  background-size: contain;
  position: absolute;
}

span.red-bg {
  background-color: #800000;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  padding: 7px 20px;
  font-size: 18px;
}

hr.yellow-line {
  width: 40px;
  position: absolute;
  border-top: 7px solid #feb402;
  top: 6px;
}

.text-primary {
  color: #800000;
}

/* aside */

.quick-access a {
  text-align: right;
  color: #d07b02;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.quick-access a:hover,
.quick-access a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #800000;
}

.quick-access a:after {
  display: block;
  content: '';
  border-bottom: solid 2px #800000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  padding-bottom: 10px;
}

.quick-access a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.list-group-item {
  padding: 15px 0 0 0;
  border: none;
  border-bottom: 2px solid #d8d8d8;
  margin-bottom: 0;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* about */

#about-summary h4 {
  font-weight: normal;
  font-size: 30px;
}

#about-summary {
  background-image: url(../img/parallax.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  color: #fff;
}

#about-summary:before {
  content: "";
  background-color: rgba(26, 1, 1, .81);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

#about-summary .container {
  position: relative;
}

.head-title {
  font-size: 38px;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.profile {
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid;
  max-width: 260px;
  margin: 0 auto 40px;
}

.profile img {
  display: block;
}

blockquote {
  font-style: italic;
  border-left: none;
  padding-left: 55px;
}

blockquote p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

blockquote:before {
  font-family: "Georgia", serif;
  color: rgba(255, 255, 255, .38);
  content: "\201C";
  font-size: 8em;
  position: absolute;
  left: 0;
  top: -30px;
}

blockquote footer {
  text-align: right;
}

.sec-mission,
.sec-vision {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 768px) {

  .sec-vision {
    text-align: right;
  }

  .sec-mission {
    text-align: left;
  }
}

#about-access {
}

#about-access a {
}

#about-access a:hover {
}

#about-access a:hover .caption {
  background: rgba(34, 5, 9, 0);
}

#about-access a:hover .caption h4 {
  background: rgba(98, 16, 27, .78);
}

#about-access a:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#about-access a .caption {
  height: 100%;
  background: rgba(34, 5, 9, .78);
  text-align: center;
  transition: background 1s;
}

#about-access a .caption:before {
  content: "";
  height: 100%;
  display: inline-block;
  width: 0;
  vertical-align: middle;
}

#about-access a .caption h4 {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 16px;
  border: 1px solid white;
  font-weight: normal;
  text-transform: uppercase;
}

/* internal pages */

.quick-access-internal a {
  color: #d07b02;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.quick-access-internal a:hover,
.quick-access-internal a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #800000;
}

/* buttons */

.btn-primary {
  color: #fff;
  background-color: #800000;
  border-color: #d43f3a;
  transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #f7a900;
  border-color: #f7a900;
}

/* footer */

.site-footer {
  padding-top: 50px;
  background-color: #ebebeb;
}

.contact-icon {
  display: table-cell;
  vertical-align: top;
}

.icon-top-pos {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

span.loc-icon:before {
  content: "\f041";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: 5px;
}

span.phone-icon:before {
  content: "\f10b";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: 5px;
}

span.mail-icon:before {
  content: "\f003";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: 0px;
}

.contact-text {
  display: table-cell;
  vertical-align: top;
  padding: 2px 0 0 10px;
}

.contact-info h2 {
  color: #800000;
}

.contact-info {
  padding-bottom: 30px;
  font-size: 16px;
}

span.facebook-icon::before {
  content: "\f09a";
  font-family: FontAwesome;
  font-size: 20px;
  line-height: 1.8;
  margin: 3px 3px 0 0;
  color: #ffffff;
  background-color: #800000;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
}

span.twitter-icon::before {
  content: "\f099";
  font-family: FontAwesome;
  font-size: 20px;
  line-height: 1.8;
  margin: 3px 3px 0 0;
  color: #ffffff;
  background-color: #800000;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
}

.copyright {
  text-align: center;
  background-color: #800000;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.read-more {
  padding-bottom: 30px;
  text-align: right;
}

span.about-year {
  font-size: 18px;
  font-weight: bold;
  color: #800000;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
}

.sec-copy {
  background-color: #800000;
  color: #fff;
  margin-top: 30px;
  padding: 20px 0 10px;
}
